<!DOCTYPE html>
<html>
  <header>
    <h3 class="text-light bg-dark" style="text-align:center" >FORMULARIO</h3>
  </header>
  <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <main role="main" class="container my-auto">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">MATRICULA</label>
            <input  type="number" class="form-control" id="ControlInput1" placeholder="1718110388"></div>
            <div class="form-group"><label for="exampleFormControlInput1">NOMBRE</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lupita"></div>
                <div class="form-group"><label for="exampleFormControlInput1">PRIMER APELLIDO</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Espinoza"></div>
                    <div class="form-group"><label for="exampleFormControlInput1">SEGUNDO APELLIDO</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Riveros"></div>
                        <div class="form-group"><label for="exampleFormControlInput1">EDAD</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="18"></div>
                            <div class="form-group"><label for="exampleFormControlInput1">FECHA DE NACIMIENTO</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder=""></div>
                                <div><select class="form-control form-control">
                                    <option>Hombre</option><option>Mujer</option></select></div> 
                                    <div><label for="validationDefault04">Estado</label><select class="custom-select" id="validationDefault04" required>
                                        <option selected disabled value="">Estado de México...</option>
                                        <option>Hidalgo</option></select></div><br><br>
                                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
                                        <button type="button" class="btn btn-warning">GUARDAR</button>
    <body background="https://png.pngtree.com/element_our/sm/20180125/sm_5a6940423da01.jpg">
  </body>
</html>